extends ../_layout
block content
    main.main__container
        h1.heading= id ? 'Edit a Question' : 'Create a New Question'
        form.form(method="POST")
            label.form__label 
                span Question Title
                input.form__input(type="text", name="title" value=title)
            button(type="submit" class="button active")= id ? 'Save Question' : 'Add a New Question'