/* Layout */
.main__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-grow: 5;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
  
#content {
display: flex;
flex-direction: column;
align-items: flex-start;
flex: 1;
min-width: 50vw;
}

#content > section {
width: 95%;
margin: auto;
justify-self: center;
}

.row {
display: flex;
margin-left: -1em;
padding: 0;
list-style: none;
flex-flow: row wrap;
}

@media (min-width: 68em) {
    #content {
      margin-left: 15rem;
    }
}  
  
.color__block {
position: relative;
display: block;
width: 25vw;
max-width: 200px;
max-height: 200px;
height: 25vw;
margin: 0 1em;
}

.color__text {
font-size: 12px;
position: absolute;
bottom: 10px;
left: 5%;
width: 80%;
margin: 0;
padding: 5px;
background-color: var(--background-color);
text-transform: uppercase;
font-style: normal;
font-weight: 400;
}