extends ../_layout
block content
    main.main__container
        h1.heading Create a Choice
        form.form(method="POST")
            label.form__label 
                span Choice Value
                input.form__input(type="text", name="name")
            label.form__label
                span Choice Type
                label.form__labelInline
                    input.form__input__radio(type="radio", checked name="type", value="correct")
                    span Correct
                label.form__labelInline
                    input.form__input__radio(type="radio", name="type", value="incorrect")
                    span Incorrect
            button(type="submit" class="button active") Add Choice