<!DOCTYPE html>
html(lang="en-US")
  head
    link(href="/styles/index.css" rel="stylesheet")
    title Movie Trivia Quiz
  body.body
      include _includes/header
      main.main__container
        block content