extends _layout
include _includes/Link_mixin
block content
    h1.heading Welcome to Movie Trivia Quiz!
    h2.headingSecondary Are you a movie buff? Test your skills here!
    p Check out the quizzes created by others below for fun movie trivia challenges
    h2.headingSecondary Want to test your friend's knowledge?
    a(href='/admin/quizzes/new' class='button primary') Create your own Quiz
    h1.heading Public Quizzes
    ul.list
        for quiz in quizzes
            li.list__item
                span.list__item__title= quiz.name 
                +link('/admin/quizzes/'+quiz.id, 'View')
    a(href='/admin/quizzes/new' class='button primary') Create your own Quiz