extends _layout
block content
  h1.heading Signup
  form.form(method="POST")
    label.form__label 
        span User Name
        input.form__input(type="text", name="username", value=username) 
    label.form__label 
        span Password
        input.form__input(type="text", name="password", value=password) 
    button(type="submit" class="button secondary") Sign Up
    if errors
        for error in errors
            small.flash=error.msg