extends ../_layout
include ../_includes/link_mixin
block content
  h1.heading= quiz.name
    +link('/quizzes/'+quiz.id, 'View')
    +link('/admin/quizzes/edit/'+quiz.id, 'Edit', 'fa-edit')
    +link('/admin/quizzes/delete/'+quiz.id, 'Delete', 'fa-trash', 'linkSecondary')
  h2.headingSecondary Questions
  ul.list
    for question in questions
      li.list__item
        span.list__item__title= question.title
        +link('/admin/questions/edit/'+ question.id + '?quizId=' + quiz.id, 'Edit', 'fa-edit')
  a(href="/admin/questions/new?quizId="+quiz.id class='button active') Add a new question