extends ../_layout
block content
    main.main__container
        h1.heading Create a Quiz
        form.form(method="POST")
            label.form__label 
                span Quiz Name
                input.form__input(type="text", name="name", value=name) 
            label.form__label
                span Quiz Type
                label.form__labelInline
                    input.form__input__radio(type="radio", name="type", value="public", checked=type==="public")
                    span Public
                label.form__labelInline
                    input.form__input__radio(type="radio", name="type", value="private", checked=type==="private")
                    span Private
            button(type="submit" class="button active") Create Quiz
            if errors
                for error in errors
                    small.flash=error.msg