header.header
  .header__container
    a(href='#' class='header__brand') Movie Trivia Quiz
    .links
      if loggedIn
        a(href='/admin/quizzes/' class='header__link') Dashboard
        a(href='/admin/quizzes/new' class='header__link') Create a new Quiz
        a(href='/logout' class='header__link') Logout
      else
        a(href='login' class='header__link') Login